<link rel="stylesheet" href="app/components/scholarships/scholarships.css">

<div>
    <div id="scholarships_jumbotron" class="jumbotron">
        <div id="scholarships_jumbotron_content" class="container for-about">
            <h1><span id="headline_text">Scholarships</span></h1>
        </div>
    </div>

    <div class="filter-row">
        <div style="display:inline-block; width: 200px; border-radius:10px" title="Search">
            <div class="input-group input-group">
                <span class="input-group-addon" id="quick-filter" style="border-top-left-radius:10em; border-bottom-left-radius:10em;"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" placeholder="Search scholarships" aria-describedby="quick-filter" style="border-top-right-radius:10em; border-bottom-right-radius:10em;" ng-model="scholarshipFilterText.name">
            </div>
        </div>

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-success" ng-click="toggleAll()">All</button>
            <button type="button" class="btn btn-success" ng-click="toggleRelevant()">Relevant to me</button>
            <button type="button" class="btn btn-success" ng-click="toggleWatched()">Watched</button>
        </div>
    </div>

    <br/>

    <!-- <h1 align="center">No scholarships currently available.</h1> -->

    <table id="scholarships_table" class="table-fill">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Days left</th>
                <th class="text-center">Deadline</th>
                <th class="text-center">Relevant</th>
                <th class="text-center">Watched</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr ng-repeat="scholarship in scholarships | filter:scholarshipFilterText | isRelevant:this | isWatched: this" ng-click="selectScholarship()">
                <td class="text-left"><b>{{scholarship.name}}</b></td>
                <td class="text-center"><i>{{calculateDaysLeft(scholarship.endDate)}}</i></td>
                <td class="text-center"><i>{{scholarship.endDate}}</i></td>
                <td class="text-center">
                    <span ng-show="scholarship.isRelevant && isUserLoggedIn" class="glyphicon glyphicon-certificate" style="color: orange"></span>
                </td>
                <td class="text-center">
                    <span ng-show="isFollowed(scholarship.id) && isUserLoggedIn" class="glyphicon glyphicon-flag" style="color: red"></span>
                </td>
            </tr>
        </tbody>
    </table>


    <br/>
</div>