<div>
    <h1 align="center">Watched scholarships & programs</h1>
    <hr/>

    <div class="filter-row">
        <div style="display:inline-block; width: 200px; border-radius:10px" title="Search">
            <div class="input-group input-group">
                <span class="input-group-addon" id="quick-filter" style="border-top-left-radius:10em; border-bottom-left-radius:10em;"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" placeholder="Search" aria-describedby="quick-filter" style="border-top-right-radius:10em; border-bottom-right-radius:10em;" ng-model="searchFilterText">
            </div>
        </div>

    </div>

    <br/>

    <table id="watched_table" class="table-fill">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Days left</th>
                <th class="text-center">Deadline</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr ng-repeat="item in watchedItems | filter: searchFilterText">
                <td class="text-left"><b>{{item.name}}</b></td>
                <td class="text-center"><i>{{calculateDaysLeft(item.deadline)}}</i></td>
                <td class="text-center"><i>{{item.deadline}}</i></td>
                <td class="text-center">
                    <span ng-show="item.isRelevant" class="glyphicon glyphicon-certificate" style="color: orange"></span>
                </td>
                <td class="text-center">
                    <span ng-show="item.isWatched" class="glyphicon glyphicon-flag" style="color: red"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <br/>
</div>