.about-header {
    color: white;
}

.about-description {
    color: white;
    text-align: center;
    font-size: 18px;
}

.contact-info {
    color: white;
    margin-top: 5em;
}

.address-style {
    padding-left: 2em;
    color: white;
}