body {
    background: black;
    color: white;
    font-family: Futura;
}

#scholarships_table tbody tr {
    border: 4px solid green;
}

#programs_table tbody tr {
    border: 4px solid darkred;
}

#watched_table tbody tr {
    border: 4px solid indianred;
}

#scholarships_table tbody tr:hover {
    background: green;
    cursor: pointer;
}

#programs_table tbody tr:hover {
    background: darkred;
    cursor: pointer;
}

#watched_table tbody tr:hover {
    background: indianred;
    cursor: pointer;
}

#scholarship_date_range {
}

#signup_modal_container {
    color: black;
    border: 3px solid dodgerblue;
}
