<link rel="stylesheet" href="app/components/programs/programs.css">

<div>
    <div id="programs_jumbotron" class="jumbotron">
        <div id="programs_jumbotron_content" class="container for-about">
            <h1><span id="headline_text">Programs</span></h1>
        </div>
    </div>

    <div align="center">
        <button type="button" ng-class="{'active':onlyIndividual ==  true}" class="btn btn-lg btn-primary" ng-click="toggleIndividualButton()"><i class="glyphicon glyphicon-user"></i> Individual</button>
        <span style="margin-left: 2em; margin-right: 2em;"></span>
        <button type="button" ng-class="{'active':onlyLegalEntity == true}" class="btn btn-lg btn-primary" ng-click="toggleLegalEntityButton()"><i class="glyphicon glyphicon-briefcase"></i> Legal Entity</button>
    </div>

    <br/>

    <h3 align="center" ng-if="onlyIndividual == false && onlyLegalEntity == false"><i>(select an option)</i></h3>

    <div ng-if="onlyIndividual != false || onlyLegalEntity != false">
        <hr style="width: 50%;"/>

        <h2 align="center">{{tableHeading}}</h2>

        <div id="programs_filter_row">
            <div style="display:inline-block; width: 200px; border-radius:10px" title="Search">
                <div class="input-group input-group">
                    <span class="input-group-addon" id="quick-filter" style="border-top-left-radius:10em; border-bottom-left-radius:10em;"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search programs" aria-describedby="quick-filter" style="border-top-right-radius:10em; border-bottom-right-radius:10em;" ng-model="programsFilterText">
                </div>
            </div>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-danger" ng-click="toggleAll()">All</button>
                <button type="button" class="btn btn-danger" ng-click="toggleRelevant()">Relevant to me</button>
                <button type="button" class="btn btn-danger" ng-click="toggleWatched()">Watched</button>
            </div>
        </div>

        <br/>

        <!-- <h1 align="center">No programs currently available.</h1> -->

        <table id="programs_table" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Days left</th>
                <th>Deadline</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="program in programs | filter: programsFilterText | isRelevant:this | isWatched: this | programType: getProgramFilterType()">
                <td><b>{{program.name}}</b></td>
                <td><b>{{calculateDaysLeft(program.end_date)}}</b></td>
                <td><i>{{program.end_date}}</i></td>
                <td>
                    <span ng-show="program.isRelevant" class="glyphicon glyphicon-certificate" style="color: orange"></span>
                </td>
                <td>
                    <span ng-show="program.isWatched" class="glyphicon glyphicon-flag" style="color: red"></span>
                </td>
            </tr>
            </tbody>
        </table>

        <br/>
    </div>
</div>