<link rel="stylesheet" href="app/components/about/about.css">

<div class="container">
    <div class="row">
        <h1 class="about-header">About</h1>
    </div>
    <hr/>
    <div class="row">
        <div class="about-description">
            <p><strong>My Fellowship</strong> provides universal access to all of the European scholarship and subsidy programs, partnering with top universities and organizations to offer instant and relevant information online.</p>
        </div>
    </div>

    <hr width="50%"/>

    <div class="row">
        <div class="col-xs-offset-1 contact-info">
            <strong>Email: </strong>
            <address class="address-style">
                <a href="mailto:nikolay.mateev@sap.com">nikolay.mateev@sap.com</a>
            </address>

            <strong>Office: </strong>
            <address class="address-style">
                SOF01, 6.08
            </address>

            <strong>Work address: </strong>
            <address class="address-style">
                136A Tzar Boris III Blvd.<br/>
                Sofia, 1618<br/>
                Bulgaria
            </address>
        </div>
    </div>

</div>
