<link rel="stylesheet" href="app/components/login/login.css">

<div id="login_modal_container">
    <br/>
    <br/>
    <div class="brand-centered">
        <span class="navbar-brand" style="font-size: 42px;"><img id="navbar_brand_logo" src="assets/images/logo/myFellowship_logo.png" alt="My Fellowship">My Fellowship</span>
    </div>
    <br/><br/>
    <h2 align="center">Log in</h2>
    <form action="" align="center">
        Username: <input type="text" ng-model="loginName">
        <br/><br/>
        Password: <input type="password" ng-model="loginPassword">
        <br/><br/>
        <span id="error_message">{{errorMessage}}</span>
        <br/><br/>
        <button type="button" class="btn btn-md btn-primary" ng-click="login()">Log in</button>
        <button type="button" class="btn btn-md btn-primary" ng-click="loginModal.close()">Cancel</button>
    </form>
    <br/>
    </br>
</div>