/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
    padding: 0px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

/* EXAMPLE 9 - Center with Flexbox and Text*/
.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-toggle {
    z-index: 1;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}
.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0,-50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
    z-index: 9999;
}

#navbar_brand_logo {
    margin-right: 10px;
    padding: 0;
}

/*  custom ^^^^^ *> */

#navbar9 ul li a {
    color: white;
}

#navbar9 ul li a:hover {
    font-weight: bold;
    background: white;
    color:#0084ff;
}

#navbar_user_logo {
    height:auto;
    weight:auto;
    max-height: 17px;
    max-width: 17px;
}

.navbar-default {
    background: #0084ff;
}

#settings_buttons li a {
    color: #5e5f69 !important;
}
#settings_buttons li a:hover {
    color: #0084ff !important;
}