<div id="signup_modal_container" class="alert">
    <br/>
    <br/>
    <div class="brand-centered">
        <span class="navbar-brand" style="font-size: 42px;"><img id="navbar_brand_logo" src="assets/images/logo/myFellowship_logo.png" alt="My Fellowship">My Fellowship</span>
    </div>
    <br/><br/>
    <h2 align="center">Sign up</h2>
    <form action="" align="center">
        Username: <input type="text">
        <br/><br/>
        Password: <input type="password">
        <br/><br/>
        <div class="container">
            <ul>
                <li>
                    <input type="radio" id="f-option" name="selector">
                    <label for="f-option">Pizza</label>

                    <div class="check"></div>
                </li>

                <li>
                    <input type="radio" id="s-option" name="selector">
                    <label for="s-option">Bacon</label>

                    <div class="check"><div class="inside"></div></div>
                </li>

                <li>
                    <input type="radio" id="t-option" name="selector">
                    <label for="t-option">Cats</label>

                    <div class="check"><div class="inside"></div></div>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-md btn-primary">Sign up</button>
        <button type="button" class="btn btn-md btn-primary" ng-click="signupModal.close()">Cancel</button>
    </form>
    <br/>
    </br>
</div>